@media screen and (max-width: 576px){
    body{
        border: 3px solid black;
    }
   nav{
    flex-direction: column;
   }
   nav h2{
    font-size: 1.9rem;
    width: 320px;
    height: 24x;
    margin-left: -65px;
    margin-bottom:0;
    /* border: 3px solid tomato; */
   }
   nav li a{
    font-size: 0.8rem
   }
   nav > ul{
    gap: 10px;
    padding-top: 5px;
    margin-left: -25px;

    padding-left: 0;
    padding-right: 0;
    margin-right: -100px ;

    }
    .search{
        display: none;
    }
}