@media screen and (max-width: 576px){
   nav{
    flex-direction: column;
   }
   nav h2{
    font-size: 1.2rem;
    width: 250px;
    height: 24x;
    margin-left: -35px;
    margin-bottom:0;
   }
   nav li a{
    font-size: 0.7rem
   }
   nav > ul{
    gap: 20px;
    padding-top: 5px;
    margin-left: -120px;

    }
}